*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.forgot-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(
      circle at 20% 20%,
      rgba(90,80,255,.12),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(0,255,255,.08),
      transparent 30%
    ),
    #020817;

    font-family:Inter,sans-serif;
}

.forgot-wrapper{
    width:520px;
}

.back-btn{
    display:flex;
    align-items:center;
    gap:10px;

    color:#d1d5db;

    cursor:pointer;

    margin-bottom:25px;

    font-size:18px;
}

.forgot-card{
    background:rgba(15,23,42,.75);

    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    padding:40px;
}

.logo-box{
    width:55px;
    height:55px;

    margin:auto;

    border-radius:10px;

    background:
    linear-gradient(
      135deg,
      #4f46e5,
      #6366f1
    );

    box-shadow:
    0 0 30px rgba(99,102,241,.4);
}

.brand{
    text-align:center;
    color:white;
    margin-top:20px;
    margin-bottom:30px;
}

.forgot-card h1{
    color:white;
    text-align:center;
    font-size:52px;
    line-height:1.2;
}

.description{
    text-align:center;

    color:#9ca3af;

    margin-top:20px;

    line-height:1.7;

    font-size:20px;
}

.input-group{
    margin-top:40px;
}

.input-group label{
    display:block;

    color:#d1d5db;

    margin-bottom:12px;

    letter-spacing:2px;

    font-size:13px;
}

.input-box{
    height:60px;

    border:1px solid #334155;

    border-radius:12px;

    display:flex;
    align-items:center;

    padding:0 18px;

    background:rgba(30,41,59,.4);
}

.icon{
    color:#94a3b8;
    font-size:24px;
}

.input-box input{
    flex:1;

    background:none;
    border:none;
    outline:none;

    color:white;

    margin-left:12px;

    font-size:18px;
}

.otp-btn{
    width:100%;

    height:60px;

    border:none;

    margin-top:28px;

    border-radius:12px;

    color:white;

    font-size:20px;
    font-weight:600;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;

    background:
    linear-gradient(
      90deg,
      #4f46e5,
      #9333ea
    );

    box-shadow:
    0 0 35px rgba(124,58,237,.35);
}

.support{
    margin-top:35px;

    text-align:center;

    color:#9ca3af;

    font-size:18px;
}

.support span{
    color:#22d3ee;
    font-weight:600;
    cursor:pointer;
}

.footer-info{
    margin-top:25px;

    display:flex;
    justify-content:center;
    gap:20px;

    color:#64748b;

    font-size:14px;
}