@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:#050b1c;
  color:#fff;
}

.home{
  min-height:100vh;
  background:
    radial-gradient(circle at 70% 15%,
    rgba(92,92,255,.20),
    transparent 30%),
    #050b1c;
}

/* NAVBAR */

.navbar{
  height:72px;
  padding:0 60px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom:1px solid rgba(255,255,255,.05);
}

.logo{
  padding-top: 40px;
  font-size:36px;
  font-weight:800;
}

.menu{
  list-style:none;
  display:flex;
  gap:35px;
  font-size:13px;
  letter-spacing:1px;
}

.menu li{
  color:#8f96aa;
  cursor:pointer;
}

.menu .active{
  color:white;
  border-bottom:2px solid white;
   background: transparent;
}


.nav-btns{
  display:flex;
  gap:15px;
}

.login-btn{
  background:none;
  border:none;
  color:white;

}
.login-btn:hover{
  text-decoration:underline;
  cursor: pointer;
}
.nav-btns a {
  text-decoration: none;
  color: white;
}

.start-btn{
  background:#7c4dff;
  color:white;
  border:none;
  border-radius:10px;
  padding:12px 22px;
  cursor:pointer;
  font-weight:600;
}

.large{
  padding:16px 28px;
}

.outline-btn{
  background:none;
  color:white;
  border:1px solid rgba(255,255,255,.15);
  border-radius:10px;
  padding:16px 28px;
}

/* HERO */

.hero{
  max-width:1400px;
  margin:auto;
  padding:90px 60px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.badge{
  display:inline-block;
  border:1px solid rgba(255,255,255,.08);
  padding:10px 18px;
  border-radius:999px;
  color:#4ee3ff;
  font-size:12px;
}

.hero h1{
  font-size:78px;
  line-height:1;
  margin:25px 0;
}

.hero p{
  color:#a4abc0;
  line-height:1.8;
  max-width:600px;
}

.hero-actions{
  display:flex;
  gap:15px;
  margin:35px 0;
}

.process{
  font-size:12px;
  letter-spacing:2px;
  color:#7d859c;
  margin-bottom:25px;
}

.trusted{
  display:flex;
  align-items:center;
  gap:15px;
}

.avatars{
  display:flex;
}

.avatars span{
  width:38px;
  height:38px;
  background:#7c4dff;
  border-radius:50%;
  border:2px solid #050b1c;
  margin-left:-10px;
}

.monitor{
  position:relative;
  border-radius:24px;
  overflow:hidden;
  padding:20px;
  background:#0b1528;
  box-shadow:0 0 120px rgba(100,90,255,.3);
}

.fake-screen{
  height:420px;
  background:#08101d;
  display:flex;
  gap:15px;
  padding:15px;
}

.left-panel{
  width:40%;
  background:#101c2d;
  border-radius:10px;
}

.chart{
  flex:1;
  background:#132033;
  border-radius:10px;
  position:relative;
}

.chart-wave{
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  height:120px;
  background:linear-gradient(
  to top,
  #45d5ff,
  transparent
  );
  clip-path:polygon(
  0 90%,
  10% 70%,
  20% 80%,
  30% 40%,
  40% 60%,
  50% 30%,
  60% 70%,
  70% 40%,
  80% 55%,
  90% 20%,
  100% 60%,
  100% 100%,
  0 100%
  );
}

.listening{
  position:absolute;
  left:25px;
  bottom:25px;
  background:#0f1c2d;
  border:1px solid #2bd7ff50;
  border-radius:12px;
  padding:12px 20px;
  color:#5ee7ff;
}

/* STATS */

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  border-top:1px solid rgba(255,255,255,.05);
  border-bottom:1px solid rgba(255,255,255,.05);
}

.stat{
  padding:35px;
  text-align:center;
}

.stat h3{
  margin-bottom:8px;
}

.stat p{
  color:#9ca3af;
  font-size:12px;
  letter-spacing:2px;
}

/* FEATURES */

.features{
  max-width:1400px;
  margin:auto;
  padding:100px 60px;
}

.features h2{
  text-align:center;
  font-size:52px;
}

.subtitle{
  text-align:center;
  color:#9ca3af;
  margin-top:10px;
}

.feature-grid{
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.feature-card{
  background:#081224;
  border:1px solid rgba(255,255,255,.05);
  border-radius:24px;
  padding:35px;
  transition:.3s;
}

.feature-card:hover{
  transform:translateY(-8px);
  border-color:#7c4dff;
}

.icon{
  width:55px;
  height:55px;
  background:#101a32;
  border-radius:14px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:25px;
}

.feature-card h3{
  margin-bottom:15px;
}

.feature-card p{
  color:#9ca3af;
  line-height:1.7;
  margin-bottom:20px;
}

/* TIMELINE */

.timeline{
  max-width:1400px;
  margin:auto;
  padding:0 60px 100px;
  display:flex;
  justify-content:space-between;
  position:relative;
}

.line{
  position:absolute;
  top:22px;
  left:80px;
  right:80px;
  height:2px;
  background:#5934d8;
}

.timeline-item{
  text-align:center;
  z-index:1;
}

.number{
  width:46px;
  height:46px;
  background:#0d1628;
  border:2px solid #7c4dff;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto auto 20px;
}

/* CTA */

.cta{
  max-width:1400px;
  margin:auto;
  background:#081224;
  border:1px solid rgba(255,255,255,.05);
  border-radius:30px;
  text-align:center;
  padding:90px;
}

.cta h2{
  font-size:58px;
}

.cta p{
  margin:20px 0 35px;
  color:#9ca3af;
}



@media(max-width:992px){

  .hero{
    grid-template-columns:1fr;
  }

  .feature-grid{
    grid-template-columns:1fr;
  }

  .stats{
    grid-template-columns:1fr 1fr;
  }

  .timeline{
    flex-direction:column;
    gap:30px;
  }

  .line{
    display:none;
  }

  .hero h1{
    font-size:52px;
  }

  .menu{
    display:none;
  }
}

.profile-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.profile-avatar:hover {
  transform: scale(1.05);
}

