* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  padding: 20 20;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left,
      rgba(99, 102, 241, 0.15),
      transparent 30%),
    radial-gradient(circle at bottom right,
      rgba(6, 182, 212, 0.15),
      transparent 30%),
    #020817;

  font-family: Inter, sans-serif;
}

.login-card {
  width: 450px;

  padding: 40px;

  border-radius: 20px;

  background: rgba(15, 23, 42, 0.85);

  border: 1px solid rgba(255,255,255,.08);

  backdrop-filter: blur(15px);
}

.logo {
  text-align: center;
  color: #c4b5fd;
  margin-bottom: 30px;
}

.login-card h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;

  color: #cbd5e1;

  margin-bottom: 8px;

  font-size: 14px;
}

.form-group input {
  width: 100%;
  height: 50px;

  border-radius: 10px;

  border: 1px solid #334155;

  background: #0f172a;

  color: white;

  padding: 0 15px;
}

.form-group input:focus {
  outline: none;
  border-color: #6366f1;
}

.form-options {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  color: #94a3b8;

  font-size: 14px;
}

.form-options a {
  color: #a78bfa;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: 50px;

  border: none;

  border-radius: 10px;

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  background:
    linear-gradient(
      90deg,
      #4f46e5,
      #7c3aed
    );
}

.divider {
  margin: 25px 0;

  text-align: center;

  color: #94a3b8;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-btn {
  flex: 1;

  height: 50px;

  border-radius: 10px;

  border: 1px solid #334155;

  background: transparent;

  color: white;

  cursor: pointer;
}

.register-text {
  text-align: center;

  margin-top: 25px;

  color: #94a3b8;
}

.register-text a {
  color: #a78bfa;
  text-decoration: none;
  font-weight: 600;
}