.news-detail {
  background:#0f1425;
  color:white;
  padding:60px 20%;
}

.hero {
  width:100%;
  border-radius:12px;
  margin-bottom:20px;
}

.back {
  color:#7c7cff;
  text-decoration:none;
  display:inline-block;
  margin-bottom:20px;
}

.content h1 {
  font-size:40px;
  margin:10px 0;
}

.meta {
  display:flex;
  gap:10px;
  color:#aaa;
  font-size:13px;
  margin-bottom:20px;
}